/* TO DO
EVERY GODDAM THING */


/*  Classes for the article 
    Orders are important!
    Keep new_trouve before trouve
    Character goes in priority too
*/

body{
    background-color: #1d1d1d;
    color: lightgrey;
    text-align: center;
    font-size: 1.5em;
}

.titre {
    font-size: 2.5em; 
    font-weight: bold;
    border-radius: 10px;
}
.article {
    font-size: 1em;
    border-radius: 5px;
}
.character {
    background-color: white !important;
}
.cache {
    background-color: rgb(60,60,60);
}
.new_trouve {
    background-color: green;
}
.trouve {
    background-color: white;
}
.proche {
    background-color: rgb(60,60,60);
}

/* The rest */
#receive {
    display: none;
}
p > span {
    display: inline-block;
    padding: 5px;
}
p > span:not(:first-of-type):not(.character) { /* hihi comme ça on ne le fait pas sur les characters (se prononce engine) */
    margin-top: 5px;
    margin-left: 5px;
}

/* Affcihage mots en fonction de l'état du pourcentage d'accuracy */

.pastop{
    color: red;
}

.mitop{
    color: orange;
}

.top{
    color: yellow;
}


#letsplay{
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
}