/* TO DO
EVERY GODDAM THING */


/*  Classes for the article 
    Orders are important!
    Keep new_trouve before trouve
    Character goes in priority too
*/

body{
    background-color: #1d1d1d;
    color: lightgrey;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2em;
}



button{
    background-color: transparent;
    border-radius: 20px;
    border: solid 3px #00abc2;
    padding: 10px 20px;
    color: lightgrey;
    font-size: 1.5em;
    transition: 1s;
    width: min(350px, 90vw);
    margin: 20px auto;
}

button:hover{
    cursor: pointer;
    color: #00abc2;
    font-size: 1.5em;
}

input{
    background-color: transparent;
    border-radius: 20px;
    border: solid 3px #00abc2;
    padding: 20px 2vw;
    color: #00abc2;
    font-size: 1.5em;
    transition: 1s;
    transition: 0.5s;
    margin: 20px auto;
    width: min(500px, 80vw);
}

input:focus{
    border-color: white;
}

#titre{
    justify-content: center;
}

#article{
    justify-content: space-between;
}

#titre > span{
    font-size: 2.5em; 
    font-weight: bold;
    border-radius: 10px;
}
    
#article, #titre {
    font-size: 1em;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
#article::after {
    content: "";
    flex: auto;
}
.character {
    color: rgb(100,100,100);
}
.cache:not(.character) {
    background-color: rgb(60,60,60);
}
.new_trouve {
    animation: trouvein;
    animation-duration: 5s;
}
.trouve {
    color: rgb(60,60,60);
}
.proche {
    background-color: rgb(60,60,60);
}

/* The rest */
#receive {
    display: none;
}
p > span {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.character{
    margin: auto -5px;
}

/* Affcihage mots en fonction de l'état du pourcentage d'accuracy */

.pastop{
    color: red;
}

.mitop{
    color: orange;
}

.top{
    color: yellow;
}


#letsplay{
    margin-top: 20px;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
}


@keyframes trouvein {
    from {
        background-color: green;
    }
    to {
        background-color: transparent;
    }
  }