<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title> Test</title>
    <script type="text/javascript" src="jquery/js/jquery-3.5.1.js"></script>
</head>
    <body>
        <h1>Salut à tous</h1>
        <form action="/new_article" method="post">
            <button id="new" name="new_button" type="submit">
                New Page
            </button>
        </form>
        <div id="receive" style="display: none">
            {% if receive %}
            {{receive}}
            {% endif %}
        </div>
        <p id="titre">
            {% if receive %}
            {% for word in receive["titre"] %}
            <span id = {{word["id"]}} class="mot"> {{word["mot"]}}</span>
            {%endfor%}
            {% endif %}
    
        </p>


        <p id="article">
            {% if receive %}
            {% for word in receive["mots"] %}
            <span id = {{word["id"]}} class="mot"> {{word["mot"]}}</span>
            {%endfor%}
            {% endif %}
        </p>
    

        
    </body>

    <script>
        $(document).ready(function() {
    
          /* Votre Code ICI */
            
            $("#new").click(function(){
                document.getElementById("receive").innerHTML = "{{result}}";
                var jison = document.getElementById("receive").innerHTML;
                console.log(jison);
            });


        });
            
        </script>
</html>