<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title> Test</title>
    <script type="text/javascript" src="jquery/js/jquery-3.5.1.js"></script>
</head>
    <body>
        <h1>Salut à tous</h1>
        <button id="new">
            New Page
          </button>
        <div id="receive" style="display: none">
            {{receive}}
        </div>
        <p id="titre">

            {% for word in receive["titre"] %}
            <span id = {{word["id"]}}> {{word["mot"]}}</span>
            {%endfor%}
    
        </p>


        <p id="article"></p>
    

        
    </body>

    <script>
        $(document).ready(function() {
    
          /* Votre Code ICI */
            
            $("#new").click(function(){
                
            document.getElementById("receive").innerHTML = "{{result}}";
            });


        });
            
        </script>
</html>